<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><%=game.name%></h1>
	<br>
	<%=game.name%> was developed by <%=game.developer%>, and first released in <%=game.year%>. 
	<br>
	We'll add some more text here later, or we won't. Nothing you can do about it. 
	<br>
	<nav>
		<ul>
			<li><a href="/games/<%=game.id%>/edit">Edit</a></li>
			<li><a href="/games/">Home</a></li>
		</ul>	
	</nav>
</body>
</html>