<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><%=developer.name%></h1>
	<br>
	<%=developer.name%> was founded in <%=developer.founded%>, in <%=developer.country%>. 
	<br>
	<h2>Games by the Developer</h2>
	<ul>
		<%developer.games.forEach((elem, i) => {%>
			<li><a href="/games/<%=elem.id%>"><%=elem.name%></a></li>	
		<%})%>
	</ul>
	<br>
	<nav>
		<ul>
			<li><a href="/developers/<%=developer.id%>/edit">Edit</a></li>
			<li><a href="/developers/">Home</a></li>
		</ul>	
	</nav>
</body>
</html>